body {
	background: black;
	color: white;
    font-family: sans;
}

input {
	height: 400px;
	width: 30px;
    -webkit-appearance: slider-vertical
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

button {
    color: white;
    background: #3c3c3c;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: black;
}
