body {
	background: white;
	color: black;
    font-family: sans;
  margin: 0px;
}

input {
	height: 400px;
	width: 30px;
  -webkit-appearance: slider-vertical
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.row {
    flex-direction: row;
    justify-content: center;
    margin-top: calc((100vh - 544px) / 2);
}

.col {
    flex-direction: column;
}

button {
    color: black;
    background: #c3c3c3;
    border: none;
    padding: 15px 32px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #777777;
}
